<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? 'Enable linear mode' : 'Disable linear mode' }}
</button>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="personalInfo">
    <form [formGroup]="personalInfo">
      <ng-template matStepLabel>Conatct</ng-template>
      <mat-form-field class="full-width ">
        <input
          matInput
          placeholder="Last name, First name"
          formControlName="fullName"
          required
        />
      </mat-form-field>

      <mat-error *ngIf="fullName.touched && fullName.errors">
        name is required
      </mat-error>

      <mat-form-field class="full-width ">
        <input
          matInput
          placeholder="example@domain.com"
          type="email"
          formControlName="email"
          required
        />
      </mat-form-field>

      <mat-error *ngIf="email.touched && email.errors">
        enter a proper email
      </mat-error>

      <div formArrayName="phones">
        <div
          *ngFor="let phone of phones.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field>
            <input
              matInput
              placeholder="9999999999"
              formControlName="phone"
              type="tel"
              required
            />
          </mat-form-field>
          <ng-template [ngIf]="i !== 0">
            <button mat-icon-button (click)="removePhone(i)" color="warn">
              <mat-icon>
                remove_circle
              </mat-icon>
            </button>
          </ng-template>
        </div>
      </div>
      <div>
        <button mat-icon-button (click)="addPhone()" color="primary">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="educationAndExperience">
    <form [formGroup]="educationAndExperience">
      <ng-template matStepLabel>Education & Experience</ng-template>
      <div formGroupName="education">
        <mat-form-field class="full-width ">
          <input
            matInput
            placeholder="Highest education with specialization"
            formControlName="education"
            required
          />
        </mat-form-field>
        <mat-error *ngIf="education.touched && education.errors">
          Education is required
        </mat-error>
        <mat-form-field class="full-width ">
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Year of passing"
            formControlName="date"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-error
        *ngIf="date.touched && date.errors"
        >
        Enter a valid date of the formate of dd/mm/yyyy
      </mat-error>
      </div>
          <mat-form-field>
            <input
            matInput
            placeholder="Total experience in years"
            type="tel"
            formControlName="totalExperience"
            />
          </mat-form-field>
          <mat-error
          *ngIf="totalExperience.touched && totalExperience.errors"
          >
          Experience must be grater then or equal to 0
          </mat-error>
          <mat-form-field>
            <input
            matInput
            placeholder="relevant experience in years"
            type="tel"
            formControlName="relevantExperience"
            />
          </mat-form-field>
          <mat-error
          *ngIf="relevantExperience.touched && relevantExperience.errors"
          >
          Experience must be grater then or equal to 0
          </mat-error>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
