<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? 'Enable linear mode' : 'Disable linear mode' }}
</button>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="personalInfo">
      <ng-template matStepLabel>conatct information</ng-template>
      <mat-form-field class="full-width ">
        <input
          matInput
          placeholder="Last name, First name"
          formControlName="fullName"
          required
        />
      </mat-form-field>

      <mat-error *ngIf="fullName.touched && fullName.errors">
        name is required
      </mat-error>

      <mat-form-field class="full-width ">
        <input
          matInput
          placeholder="example@domain.com"
          type="email"
          formControlName="email"
          required
        />
      </mat-form-field>

      <mat-error *ngIf="email.touched && email.errors">
        enter a proper email
      </mat-error>

      <div formArrayName="phones">
        <div
          *ngFor="let phone of phones.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field>
            <input
              matInput
              placeholder="9999999999"
              formControlName="phone"
              type="tel"
              required
            />
          </mat-form-field>
          <ng-template [ngIf]="i !== 0">
            <button mat-icon-button (click)="removePhone(i)" color="warn">
              <mat-icon>
                remove_circle
              </mat-icon>
            </button>
          </ng-template>
        </div>
      </div>
      <div>
        <button mat-icon-button (click)="addPhone()" color="primary">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input
          matInput
          placeholder="Address"
          formControlName="secondCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
